.Card{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}
.CardContent{
    margin: 20px 10px ;
}
.CardHeader{
    display:flex;
    align-items: center;
}
.CardHeader__Logo{
    width: 30px;
    height: 30px;
}
.CardHeader__Tittle{
    margin-left: 10px;
}
.CardHeader2__company{
    margin-left: 37px;
    margin-top: -15px;
}
.CardSubHeader {
    display: flex;
    justify-content: space-around;

}
.CardBody {
    display: flex;
    margin-top: 30px;
}
.CardFooter{
    display:flex;
    justify-content: space-around;
    margin-top: 30px;

}
.CardFooter__experience{
    border: 1px solid black;
    border-radius: 20px;
    width: 120px;
    height: 41px;
    left: 213px;
    top: 698px;
    display:flex;
    justify-content: center;
    align-items: center;

}
.CardFooter__specialty{
    border-radius: 20px;
    width: 120px;
    height: 41px;
    left: 213px;
    top: 698px;

    border: 1px solid #f9d408;
    background-color: #f9d408;
    color: #756464;

    display: flex;
    justify-content: center;
    align-items: center;

}
.CardFooter__CTA{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.CardFooter__CTA__button{
    border: 4px solid #2abebc;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color: #2abebc ;
    color: #FFFF;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

}
.CardFooter__CTA__button:hover{
    background-color: #FFFF;
    color:#2abebc;
    border: 2px solid #2abebc;
}